<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="My_Pay_Roll_System.Properties.Settings.My_Pay_Roll_SystemConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Systems For You\My Pay Roll System.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>